/* Removal of page navigation */
.xl2 { display: none; }
.page-header-section { display: none; }

/* Page reference links styling */
ul {

    padding-left: 0 !important;
    padding-top: 1rem;
    width: 100%;
    margin: 0;

}

ul > li {

    background-color: #fafafa;
    background-image: linear-gradient(180deg,#fff,#fafafa);
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 5px solid #e0e0e0;
    box-shadow: 0 3px 8px 0 rgb(116 129 141 / 10%);
    padding: 1rem;
    border-radius: 5px;
    font-weight: 500;
}

ul > li:hover {

    background-image: linear-gradient(180deg,#fff,#f6fbfe);
    border-left-color: #2196f3;
    cursor: pointer

}

ul > li::before {

    display: none;

}

ul > li > a {

    display: block;
    text-decoration: none;
    margin: -1rem;
    padding: 1rem;

}

ul > li > a > em {

    font-weight: 400;
    font-style: normal;
    color: #616161;
    display: inline-block;
    padding-left: 0.5rem;
    border-left: 1px solid #e0e0e0;
    margin-left: 0.5rem;

}

/* Images */
.horizontal {

    display: flex;
    flex-direction: row;

}